# Data source
- zillow database
- 2017 properties 
- 2017 prediction data
- single unit/single family homes.

In [4]:
import pandas as pd
import numpy as np 
from env import url
import os.path

In [2]:
query = '''
    Select *
    From properties_2017
    Join predictions_2017 Using(parcelid)
    Where propertylandusetypeid = 261
'''

df = pd.read_sql(query, url('zillow'))
df.head()

,parcelid,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,id,logerror,transactiondate
0,14297519,1727539,NaN,NaN,NaN,3.5,4.0,None,NaN,3.5,...,1023282.0,2016.0,537569.0,11013.72,None,NaN,6.059063e+13,0,0.025595,2017-01-01
1,17052889,1387261,NaN,NaN,NaN,1.0,2.0,None,NaN,1.0,...,464000.0,2016.0,376000.0,5672.48,None,NaN,6.111001e+13,1,0.055619,2017-01-01
2,14186244,11677,NaN,NaN,NaN,2.0,3.0,None,NaN,2.0,...,564778.0,2016.0,479489.0,6488.30,None,NaN,6.059022e+13,2,0.005383,2017-01-01
3,12177905,2288172,NaN,NaN,NaN,3.0,4.0,None,8.0,3.0,...,145143.0,2016.0,36225.0,1777.51,None,NaN,6.037300e+13,3,-0.103410,2017-01-01
4,12095076,781532,1.0,NaN,NaN,3.0,4.0,None,9.0,3.0,...,773303.0,2016.0,496619.0,9516.26,None,NaN,6.037461e+13,6,-0.001011,2017-01-01

In [3]:
df.to_csv('zillow.csv')

In [5]:
if os.path.exists('zillow.csv'):
    df = pd.read_csv('zillow.csv',  index_col=0)
else:
    df = telco_data()
df.head()

,parcelid,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,id.1,logerror,transactiondate
0,14297519,1727539,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,1023282.0,2016.0,537569.0,11013.72,NaN,NaN,6.059063e+13,0,0.025595,2017-01-01
1,17052889,1387261,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,464000.0,2016.0,376000.0,5672.48,NaN,NaN,6.111001e+13,1,0.055619,2017-01-01
2,14186244,11677,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,564778.0,2016.0,479489.0,6488.30,NaN,NaN,6.059022e+13,2,0.005383,2017-01-01
3,12177905,2288172,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,145143.0,2016.0,36225.0,1777.51,NaN,NaN,6.037300e+13,3,-0.103410,2017-01-01
4,12095076,781532,1.0,NaN,NaN,3.0,4.0,NaN,9.0,3.0,...,773303.0,2016.0,496619.0,9516.26,NaN,NaN,6.037461e+13,6,-0.001011,2017-01-01

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52442 entries, 0 to 52441
Data columns (total 62 columns):
parcelid                        52442 non-null int64
id                              52442 non-null int64
airconditioningtypeid           13638 non-null float64
architecturalstyletypeid        70 non-null float64
basementsqft                    47 non-null float64
bathroomcnt                     52442 non-null float64
bedroomcnt                      52442 non-null float64
buildingclasstypeid             0 non-null float64
buildingqualitytypeid           33741 non-null float64
calculatedbathnbr               52305 non-null float64
decktypeid                      389 non-null float64
finishedfloor1squarefeet        4381 non-null float64
calculatedfinishedsquarefeet    52360 non-null float64
finishedsquarefeet12            52195 non-null float64
finishedsquarefeet13            0 non-null float64
finishedsquarefeet15            0 non-null float64
finishedsquarefeet50            4381 non-null float64
finishedsquarefeet6             165 non-null float64
fips                            52442 non-null float64
fireplacecnt                    7243 non-null float64
fullbathcnt                     52305 non-null float64
garagecarcnt                    18015 non-null float64
garagetotalsqft                 18015 non-null float64
hashottuborspa                  1515 non-null float64
heatingorsystemtypeid           33936 non-null float64
latitude                        52442 non-null float64
longitude                       52442 non-null float64
lotsizesquarefeet               52073 non-null float64
poolcnt                         11096 non-null float64
poolsizesum                     867 non-null float64
pooltypeid10                    444 non-null float64
pooltypeid2                     1071 non-null float64
pooltypeid7                     10009 non-null float64
propertycountylandusecode       52442 non-null object
propertylandusetypeid           52442 non-null float64
propertyzoningdesc              33849 non-null object
rawcensustractandblock          52442 non-null float64
regionidcity                    51405 non-null float64
regionidcounty                  52442 non-null float64
regionidneighborhood            19033 non-null float64
regionidzip                     52416 non-null float64
roomcnt                         52442 non-null float64
storytypeid                     47 non-null float64
threequarterbathnbr             6724 non-null float64
typeconstructiontypeid          76 non-null float64
unitcnt                         33848 non-null float64
yardbuildingsqft17              1937 non-null float64
yardbuildingsqft26              63 non-null float64
yearbuilt                       52326 non-null float64
numberofstories                 14561 non-null float64
fireplaceflag                   81 non-null float64
structuretaxvaluedollarcnt      52358 non-null float64
taxvaluedollarcnt               52441 non-null float64
assessmentyear                  52442 non-null float64
landtaxvaluedollarcnt           52441 non-null float64
taxamount                       52438 non-null float64
taxdelinquencyflag              2079 non-null object
taxdelinquencyyear              2079 non-null float64
censustractandblock             52319 non-null float64
id.1                            52442 non-null int64
logerror                        52442 non-null float64
transactiondate                 52442 non-null object
dtypes: float64(55), int64(3), object(4)
memory usage: 25.2+ MB

In [8]:
df.describe()

,parcelid,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,id.1,logerror
count,5.244200e+04,5.244200e+04,13638.000000,70.00000,47.000000,52442.000000,52442.000000,0.0,33741.000000,52305.000000,...,81.0,5.235800e+04,5.244100e+04,52442.0,5.244100e+04,52438.000000,2079.000000,5.231900e+04,52442.000000,52442.000000
mean,1.299912e+07,1.497288e+06,2.438041,7.10000,678.978723,2.299397,3.300675,NaN,6.264100,2.304732,...,1.0,1.965315e+05,5.296830e+05,2016.0,3.334626e+05,6453.451945,14.102453,6.050240e+13,38860.631917,0.018294
std,3.411412e+06,8.594413e+05,3.846176,2.66567,711.825226,1.022764,0.949086,NaN,1.716181,1.017958,...,0.0,2.543382e+05,7.518883e+05,0.0,5.705227e+05,8755.495483,2.394972,1.859019e+12,22348.437271,0.177502
min,1.071186e+07,3.490000e+02,1.000000,2.00000,38.000000,0.000000,0.000000,NaN,1.000000,1.000000,...,1.0,1.290000e+02,1.000000e+03,2016.0,1.610000e+02,49.180000,4.000000,6.037101e+13,0.000000,-4.655420
25%,1.151030e+07,7.579560e+05,1.000000,7.00000,263.500000,2.000000,3.000000,NaN,5.000000,2.000000,...,1.0,7.707175e+04,1.937500e+05,2016.0,7.602600e+04,2656.250000,14.000000,6.037401e+13,19546.250000,-0.024639
50%,1.257766e+07,1.500836e+06,1.000000,7.00000,512.000000,2.000000,3.000000,NaN,6.000000,2.000000,...,1.0,1.318070e+05,3.736120e+05,2016.0,2.180250e+05,4647.730000,15.000000,6.037620e+13,38927.500000,0.007010
75%,1.412951e+07,2.241564e+06,1.000000,7.00000,809.500000,3.000000,4.000000,NaN,8.000000,3.000000,...,1.0,2.263198e+05,6.193010e+05,2016.0,4.086000e+05,7377.445000,15.000000,6.059042e+13,58093.500000,0.040691
max,1.676878e+08,2.982270e+06,13.000000,21.00000,3560.000000,18.000000,14.000000,NaN,12.000000,18.000000,...,1.0,9.164901e+06,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,77613.000000,5.262999